<div class="jumbotron trabajo">
    <h1 class="display">P&aacute;gina No disponible...</h1>
</div>
<div class="row">
    <div class="container">
        <div class="grid">
            <img src="imgs/trabajando/trabajando.gif" alt="trabajando">
        </div>
    </div>