<div class="jumbotron">
     <h1 class="display">Junta Directiva Nacional</h1>
    </div>
<div class="row">
    
    <div class="container">
    <div class="grid">
        <figure class="effect-layla">
						<img src="imgs/juntaNacional/jdn.jpeg" alt="jdn"/>
						<figcaption>
							
							<p>Al servicio de Cristo y nuestros hermanos. EN CADENA!!</p>
							
						</figcaption>
                        <h2> <span>Junta Directiva Nacional</span></h2>			
					</figure>
                    
    </div>
    </div>
    <div class="card mt-5 ml-5">
    <div class="card-header">
        <h2>Integrantes</h2>
    </div>
    <div class="card-body">
        <p> Es nuestro m&aacute;ximo &oacute;rgano como autoridad
            fueron elegidos en el a&ntilde;o 2018 en Catamarca, es la <strong>vig&eacute;sima Junta Directiva</strong> que tenemos, termina su per&iacute;odo en 2021
        </p>
    </div>
    </div>
    <div class="card mt-5  ml-5">
    <div class="card-header">
        <h2>Asesor </h2>
        <h3>R.P Gabriel <strong>Frias</strong></h3>
    </div>
    <div class="card-body">
        <p>Circulista desde el a&ntilde;o 2017, del Eslab&oacute;n 94</p>
    </div>
    </div>
    <div class="card mt-5  ml-5">
    <div class="card-header">
        <h2>Presidente</h2>
        <h3>Roberto <strong> Rotta Di Caro</strong></h3>
       
    </div>
    <div class="card-body">
       <p> Circulista desde el a&ntilde;o 2008, del Eslabon Nro 73</p>
    </div>
    </div>
    <div class="card mt-5 ml-5">
    <div class="card-header">
        <h2>Vicepresidente</h2>
        <h3>Luis del Valle <strong>Montes</strong> </h3>
    </div>
    <div class="card-body">
        <p>Circulista desde el a&ntilde;o 1984, del Eslab&oacute;n 16</p>
    </div>

    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Secretaria</h2>
            <h3>Mirta <strong>Lopez</strong> </h3>
        </div>
        <div class="card-body">
            <p>Circulista desde el a&ntilde;o 1993, del Eslab&oacute;n 33</p>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Tesorera</h2>
            <h3>Mar&iacute;a Elena <strong>Soria</strong></h3>
        </div>
        <div class="card-body">
             <p>Circulista desde el a&ntilde;o 1993, del Eslab&oacute;n 34</p>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
            <h3>Paula <strong>Montes</strong> </h3>
        </div>
        <div class="card-body">
             <p>Circulista desde el a&ntilde;o 2010, del Eslab&oacute;n 78</p>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
            <h3>Ana Lia <strong>Gomez</strong> </h3>
        </div>
        <div class="card-body">
             <p>Circulista desde el a&ntilde;o 1992, del Eslab&oacute;n 32</p>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
            <h3>Roc&iacute;o <strong>Ar&aacute;oz Garc&iacute;a</strong> </h3>
        </div>
        <div class="card-body">
             <p>Circulista desde el a&ntilde;o 2011, del Eslab&oacute;n 80</p>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
            <h3>Priscila <strong>Leiva</strong> </h3>
        </div>
        <div class="card-body">
             <p>Circulista desde el a&ntilde;o 2005, del Eslab&oacute;n 65</p>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
            <h3>Iv&aacute;n <strong>Asen</strong> </h3>
        </div>
        <div class="card-body">
             <p>Circulista desde el a&ntilde;o 2010, del Eslab&oacute;n 78</p>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
            <h3>Germ&aacute;n <strong>Rubio</strong> </h3>
        </div>
        <div class="card-body">
             <p>Circulista desde el a&ntilde;o 2016, del Eslab&oacute;n 93</p>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
            <h3>Leonel Santiago <strong>Felipe Maza</strong> </h3>
        </div>
        <div class="card-body">
             <p>Circulista desde el a&ntilde;o 2017, del Eslab&oacute;n 95</p>
        </div>
    </div>
</div>

