<div class="jumbotron">
   <h1 class="display"> Estructura del MCJ </h1>
   <p>El MCJ o <strong>Movimeinto C&iacute;rculos de Juventud</strong> es un movimiento de la <strong>Iglesia Cat&oacute;lica Romana</strong> y tiene una estructura aprobada por la <strong>Conferencia Episcopal Argentina</strong> se compone por los siguientes estamentos: </p>
</div>
<div class="row">
    <div class="card">
        <div class="card-header">
           <h1> Asamblea Nacional</h1>
        </div>
        <div class="card-body">
            Conformada por un Presidente, Secretario y Asesor Espiritual. La asamblea se integra con representantes de las diócesis de la República Argentina y se reúne ordinariamente cada año. 
        </div>
    </div>
    <div class="card">
        <div class="card-header">
           <h1> Junta Directiva Nacional </h1>
        </div>
        <div class="card-body">
            Conformada por: Presidente, Vicepresidente, Secretario, Tesorero, Vocales, Asesor Espiritual y Vice Asesor Espiritual. Tiene la misión de: proceder de acuerdo a los lineamientos emanados de la Conferencia Episcopal Argentina, dirigir, coordinar, orientar, alentar y supervisar al Movimiento en las diócesis donde actúa dentro de la República Argentina; y representarlo en el plano Nacional e Internacional.
            Se presentan candidaturas de las diócesis y se elige y designa en Asamblea Nacional Ordinaria. Dura en sus funciones por el término de tres años.
           <a href="/jdn" class="btn btn-sm btn-primary">Ver mas...</a>
        </div>
    </div>
</div>


