<div class="jumbotron">
    <h1 class="display">Espiritualidad del Movimiento</h1>
    <img src="/imgs/Cristo/jovenYCristo.jpg" alt="Cristo Amigo">
</div>
<div class="row">
   
    <section>
        <p>En el Espíritu de la conmemoración de los 35 años del MCJ hemos creído imprescindible 
poner a consideración de todo el Movimiento este documento de trabajo sobre el Carisma y la Espiritualidad del MCJ,  a fin de que sea sometido en cada Diócesis a la consideración de su dirigencia conforme lo considere cada Junta con su respectivo asesor espiritual 
En tal sentido nos parece que no hay que obrar con apresuramiento en la resolución de 
temas tan delicados como es – nada menos – que el Carisma de nuestro Movimiento, pero tampoco pensamos que la verdad surja con mas claridad por posponer indefinidamente una cuestión tan medular a nuestra existencia. 
Por ello, entendiendo que el espíritu de los 35 años, implica una adultez de esta obra de Dios, les rogamos que en el curso de las próximas reuniones regionales sea considerado este tema a los fines de que el mismo pueda tener una primera consideración en la Asamblea, lo cual no implica - de ningún modo – apresurarse a cerrarlo en la misma, pero si establecer, al menos, la necesidad de su tratamiento y bases sólidas, para el trámite de su consideración. 
Efectuado nuestro ruego pasamos a considerar la importancia de definir la Espiritualidad 
del Circulista.- </p>
    </section>
    <section>
        <p>Nuestro Estatuto define al Movimiento Círculos de Juventud como “un Movimiento de Espiritualidad y Apostolado” 
Si nos atenemos a la misma, debemos admitir que nuestra “razón de ser” en la Iglesia no esta justificado en primer término por una actividad apostólica sino fundamentalmente por un estilo espiritual distintivo del cual, el apostolado, es consecuencia. 
No obstante esta definición, la lectura de las actas de Asambleas y Plenarios revela 
que el tema de la “espiritualidad circulista” no ha sido objeto de mas que de consideraciones circunstanciales, poco precisas y hasta equivocas, como aquella nociones de “movimiento Kerigmatico”, que podemos encontrar todavía en las carpetas de Jornadas de Metodología.- 
Nos parece que a 35 años de la historia del MCJ, no es suficiente seguir afirmando 
genéricamente que somos un Movimiento de Espiritualidad. sin definir si realmente existe, en el contexto de la espiritualidad cristiana, una propia o característica del MCJ” y en su caso cuales son sus notas particulares.- 
Entendemos que prescindir de esa “definición”, acarrea dos peligros inminentes y 
simultáneos:  
que en cada Diócesis y hasta en cada ámbito del MCJ se introduzcan mentalidades extrañas, (carismáticas, salesianas, mercedarias, etc.) considerándolas como propias, con el riesgo de alterar o “dispersar” definitivamente la identidad del MCJ.  </p>
    </section>
    <section>
        <p>que al carecer de identidad en los elementos fundamentales del MCJ se ponga el acento desmedidamente en lo que no tiene ese carácter (ciertas pretensiones absolutas de uniformidad revelan, al parecer, ese problema. 
Es decir, cuando no tenemos en claro cual el centro de nuestra identidad no 
podemos distinguir entre lo propio y lo extraño, pero tampoco entre lo esencial y lo accesorio.1 
Un breve relevamiento de las realidades diocesanas del MCJ dan cuenta de que estos 
dos peligros, no son meramente potenciales y – en cierta forma se han cumplido, de tal modo que hemos reconocido en nosotros mismos un cierto “relativismo en la espiritualidad “ de la mano de un frecuente “fundamentalismo metodológico o formal” 
Por favor, no se nos malentienda, no queremos decir que se pueda prescindir de toda 
regla en lo formal y mucho menos que la unidad solo debe fundarse en la definición del carisma y la espiritualidad. Solo decimos que sin mayores precisiones en esta última cuestión fundamental, la 
2 discusión sobre las formas siempre estará fundada en un subjetivismo irreductible.  </p>
    </section>
</div>