<div class="jumbotron rc">
    <h1 class="display">Rio Cuarto</h1>
</div>
<div class="row">
    <div class="container">
        <div class="grid">
            <div class="grid">
            <a href="/RioCuarto/cimas" class="btn btn-sm btn-primary hvr-float-shadow">Cimas</a>
            <a href="/RioCuarto/escuela" class="btn btn-sm btn-primary hvr-float-shadow">Escuela</a>
        </div>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Integrantes Junta Directiva Diocesana</h2>
        </div>
        <div class="card-body">
            <p> Es nuestro m&aacute;ximo &oacute;rgano como autoridad diocesana
                Siempre al servicio de Cristo Amigo y de nuestros hermanos
            </p>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
           <h2> Asesores Espiruales</h2>
        </div>
        <div class="card-body">
            <h3><p>R.P Nicol&aacute;s <strong>Costantino</strong></p></h3>
            <h3><p>R.P Marcos <strong>Alonso</strong></p></h3>
        </div>

    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Presidente</h2>
        </div>
        <div class="card-body">
            <h3><p>Sof&iacute;a<strong>Bearzotti</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vice Presidente</h2>
        </div>
        <div class="card-body">
            <h3><p>Mat&iacute;as<strong>Dean</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Secretaria</h2>
        </div>
        <div class="card-body">
            <h3><p>Eugenia <strong>Sardoy</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Tesorera</h2>
        </div>
        <div class="card-body">
            <h3><p>Melina <strong>Spernanzoni</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
        </div>
        <div class="card-body">
            <h3><p>Luciano <strong>Urquidi</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
        </div>
        <div class="card-body">
            <h3><p>Luciano <strong>Urquidi</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
        </div>
        <div class="card-body">
            <h3><p>Luciano <strong>Gerbaudo</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
        </div>
        <div class="card-body">
            <h3><p>Tom&aacute;s <strong>Obreg&oacute;n</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
        </div>
        <div class="card-body">
            <h3><p>Jos&eacute; <strong>Etulain</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
        </div>
        <div class="card-body">
            <h3><p>Pilar <strong>Rizopatron</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
        </div>
        <div class="card-body">
            <h3><p>Fiorela <strong>Colona</strong></p></h3>
        </div>
    </div>
</div>
 

 
 
 
 

 