
<div class="jumbotron mt-4">
    <h1 class="display">Bienvenidos a la P&aacute;gina de Movimiento C&iacute;rculos de Juventud</h1>
    <h2> ¡Bienvenida Familia Circulista!</h2>
    <p>Es una gran Alegría para toda nuestra comunidad poder dar a conocer que tenemos una nueva alternativa que nos acerque desde cualquier punto de nuestra geografía.
   Ésta página es un medio más, que contamos para estar informados de todas las novedades de nuestro movimiento; de nuestra historia, de los retiros, de cada uno de los pasos que se vaya dando para crecer como familia. Pero, debemos tener en cuenta que cada uno de nosotros, los miembros de ésta hermosa familia circulista tenemos la oportunidad de enriquecerlo con nuestros aportes, para que esta herramienta pueda crecer y ayudarnos a vivir, compartir y disfrutar de éste servicio al que hemos sido llamados por nuestro “Cristo Amigo” y seguir engrandeciendo el Reino de los Cielos aquí en la tierra.
    Como Junta Directiva Nacional, realzando el valor de la Cercanía y queriéndolo estar siempre con cada uno de ustedes, nos ponemos a su entera disposición; pidiendo a nuestra “Madre de la Divina Gracia” y a “San Juan Apóstol Joven” nos bendigan y protejan siempre.


                                          ¡¡¡EN CADENA!!! </p>
                                           <a href="/estructura" class="btn btn-sm btn-primary hvr-curl-top-left">Ver mas...</a>
</div>