
<div class="jumbotron cba">
     <h1 class="display">C&oacute;rdoba</h1>
    </div><div class="row">
    
    <div class="container">
        <div class="grid">
            <figure class="effect-layla">
                <img src="/imgs/cordoba/jddCordoba.jpeg" alt="Cordoba">
                <figcaption>
							
							
							<p class="description">Al servicio de la Iglesia y de nuestros hermanos.
                                EN CADENA!!!
                            </p>
						</figcaption>	
                        <h2><span>Junta Diocesana De Cordoba</span></h2>
            </figure>
        </div>
        <div class="grid">
            <a href="/cordoba/cimas" class="btn btn-sm btn-primary hvr-float-shadow">Cimas</a>
            <a href="/cordoba/escuela" class="btn btn-sm btn-primary hvr-float-shadow">Escuela</a>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Integrantes Junta Directiva Diocesana</h2>
        </div>
        <div class="card-body">
            <p> Es nuestro m&aacute;ximo &oacute;rgano como autoridad diocesana
                Siempre al servicio de Cristo Amigo y de nuestros hermanos
            </p>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class= "card-header">
            <h2>Asesor Espiritual</h2>
        </div>
        <div class="card-body"><h3>
           <p> R.P Daniel <strong> Tejeda </strong> </p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class= "card-header">
            <h2>Presidente</h2>
        </div>
        <div class="card-body"><h3>
           <p> Yamila <strong> Gait</strong></p>
        </h3></div>
    </div>
    <div class="card mt-5 ml-5">
        <div class= "card-header">
            <h2>Vice Presidente</h2>
        </div>
        <div class="card-body"><h3>
           <p> Gabriela <strong> Silva</strong></p>
        </h3></div>
    </div>
    <div class="card mt-5 ml-5">
        <div class= "card-header">
            <h2>Secretar&iacute;a</h2>
        </div>
        <div class="card-body"><h3>           
            <p> Marlene <strong> Gonz&aacute;lez</strong></p>
        </h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class= "card-header">
            <h2>Tesorera</h2>
        </div>
        <div class="card-body"><h3>
           <p> Azul<strong> Di Monte</strong></p>
        </h3></div>
    </div>
    <div class="card mt-5 ml-5">
        <div class= "card-header">
            <h2> ProTesorero y Encargado de Sede</h2>
        </div>
        <div class="card-body"><h3>
           <p> Nahuel<strong> Barale</strong></p>
        </h3></div>
    </div>
    <div class="card mt-5 ml-5">
        <div class= "card-header">
            <h2> ProSecretaria y C&iacute;rculos</h2>
        </div>
        <div class="card-body"><h3>
           <p> Emilia <strong>Quevedo</strong></p>
        </h3></div>
    </div>
    <div class="card mt-5 ml-5">
        <div class= "card-header">
            <h2>C&iacute;rculos</h2>
        </div>
        <div class="card-body"><h3>
           <p>Pablo <strong>Merino</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class= "card-header">
            <h2> Cimas </h2>
        </div>
        <div class="card-body">
           <h3><p> Melisa <strong>Orozco</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class= "card-header">
            <h2> Cimas </h2>
        </div>
        <div class="card-body">
           <h3><p>Leandro <strong>Leyva</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class= "card-header">
            <h2> Pastoral y escuela de formación </h2>
        </div>
        <div class="card-body">
           <h1><p>Ezequiel <strong>As&iacute;s</strong></p></h1>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class= "card-header">
            <h2>  Nexo con Calera </h2>
        </div>
        <div class="card-body">
          <h3> <p>Julio <strong>Yofre</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class= "card-header">
            <h2>  Nexo con Calera </h2>
        </div>
        <div class="card-body">
           <h3><p>Libia <strong>Rodr&iacute;guez</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class= "card-header">
            <h2> Nexo nacional y encargado de Sede</h2>
        </div>
        <div class="card-body">
          <h3> <p>Gabriel <strong>Zampar</strong></p></h3>
        </div>
    </div>
    
</div>