<div class="row">
    <div class="md-col-4">
        <h1>Hemos jurado morir o vencer... TODA LA JUVENTUD A CRISTO HA DE VOLVER!!!</h1>
        <a href="/bienvenida" class="btn btn-sm btn-primary hvr-curl-top-left">Ingresar</a>
    </div>
</div>
<section>
    <h2>Espiritualidad</h2>
    <p>En el Espíritu de la conmemoración de los 35 años del MCJ hemos creído imprescindible 
poner a consideración de todo el Movimiento este documento de trabajo sobre el <strong> Carisma y la Espiritualidad del MCJ</strong>,  a fin de que sea sometido en cada Diócesis a la consideración de su dirigencia conforme lo considere cada Junta con su respectivo asesor espiritual 
En tal sentido nos parece que no hay que obrar con apresuramiento en la resolución de 
temas tan delicados como es – nada menos – que el Carisma de nuestro Movimiento, pero tampoco pensamos que la verdad surja con mas claridad por posponer indefinidamente una cuestión tan medular a nuestra existencia. 
Por ello, entendiendo que el espíritu de los 35 años, implica una adultez de esta obra de Dios, les rogamos que en el curso de las próximas reuniones regionales sea considerado este tema a los fines de que el mismo pueda tener una primera consideración en la Asamblea, lo cual no implica - de ningún modo – apresurarse a cerrarlo en la misma, pero si establecer, al menos, la necesidad de su tratamiento y bases sólidas, para el trámite de su consideración. 
Efectuado nuestro ruego pasamos a considerar la importancia de definir la Espiritualidad 
del Circulista. <a href="/Espiritualidad" class="btn btn-primary btn-sm hvr-curl-top-left">Leer mas...</a> </p>
</section>