<div class="jumbotron tucuman">
    <h1 class="display">Tucum&aacute;n</h1>
</div>
<div class="row">
    <div class="container">
        <div class="grid">
            <figure class="effect-layla">
                <img src="/imgs/tucuman/jddTucuman.jfif" alt="jdd Tucuman">
                <figcaption>
							
							
							<p class="description">Al servicio de la Iglesia y de nuestros hermanos.
                                EN CADENA!!!
                            </p>
						</figcaption>	
                        <h2><span>Junta Diocesana De Cordoba</span></h2>
            </figure>
        </div>
    </div>
    <div class="grid">
        <a href="/tucuman/cimas" class="btn btn-sm btn-primary hvr-float-shadow">Cimas</a>
        <a href="/tucuman/escuela" class="btn btn-sm btn-primary hvr-float-shadow">Escuela</a>
</div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
              <h2>Integrantes Junta Directiva Diocesana</h2>
        </div>
        <div class="card-body">
             <p> Es nuestro m&aacute;ximo &oacute;rgano como autoridad diocesana
                Siempre al servicio de Cristo Amigo y de nuestros hermanos
            </p>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Asesor Espiritual</h2>
        </div>
        <div class="card-body">
            <h3><p>R.P Gabriel <strong>Fr&iacute;as</strong></p> </h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Presidente</h2>
        </div>
        <div class="card-body">
            <h3><p>Daniel <strong>Felaj</strong>
            </p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vice Presidente</h2>
        </div>
        <div class="card-body">
            <h3><p>Agust&iacute;n <strong>Romera</strong>
            </p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Tesorero</h2>
        </div>
        <div class="card-body">
            <h3><p>Patricio <strong>Cossio</strong>
            </p></h3>
        </div>
    </div>

    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Secretaria</h2>
        </div>
        <div class="card-body">
            <h3><p>Romina <strong>Moreno</strong>
            </p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Pro Secretaria</h2>
        </div>
        <div class="card-body">
            <h3><p>Mariana <strong>Arias</strong>
            </p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
        </div>
        <div class="card-body">
            <h3><p>Mariana <strong>Baricco</strong>
            </p></h3
        </div>
    </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
        </div>
        <div class="card-body">
            <h3><p>Lucia <strong> Lobo</strong></p></h3>
        </div>
     </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
        </div>
        <div class="card-body">
            <h3><p>Karina <strong> Gatti</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
        </div>
        <div class="card-body">
            <h3><p>Cesar <strong>Politti</strong> </p></h3> 
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
        </div>
        <div class="card-body">
            <h3><p>Gabriel <strong>Sosa Luna</strong> </p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
        </div>
        <div class="card-body">
            <h3><p>Diego <strong> Soria</strong></p></h3>
        </div>
    </div>
    
</div>
