<div class="jumbotron cafayate">
     <h1 class="display">Cafayate</h1>
    </div>

<div class="container">
    <div class="grid">
        <div class="grid">
            <a href="/cafayate/cimas" class="btn btn-sm btn-primary hvr-float-shadow">Cimas</a>
            <a href="/cafayate/escuela" class="btn btn-sm btn-primary hvr-float-shadow">Escuela</a>
        </div>
    </div>
</div>

<div class="row">
    
    <div class="container"></div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Integrantes Junta Directiva Diocesana</h2>
        </div>
        <div class="card-body">
            <p> Es nuestro m&aacute;ximo &oacute;rgano como autoridad diocesana
                Siempre al servicio de Cristo Amigo y de nuestros hermanos
            </p>
        </div>
    </div>

    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Asesor Espiritual</h2>
        </div>
        <div class="card-body">
            <p>R.P Roberto <strong>Ochoa</strong></p>
            <p>Seminarista Gonzalo <strong>Castro</strong></p>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Presidente</h2>
        </div>
        <div class="card-body">
            <h3><p> Mariana Antonia <strong>Colque</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vice Presidente</h2>
        </div>
        <div class="card-body">
            <h3><p> Marcos Arnaldo <strong>Guzm&aacute;n</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Secretaria</h2>
        </div>
        <div class="card-body">
            <h3><p> Mariela <strong>R&iacute;os</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Tesorero</h2>
        </div>
        <div class="card-body">
            <h3><p> Oscar <strong>Mamani</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
        </div>
        <div class="card-body">
            <h3><p> Mikaela <strong>Escalanten</strong></p></h3>
        </div>
    </div>
    <div class="card mt-5 ml-5">
        <div class="card-header">
            <h2>Vocal</h2>
        </div>
        <div class="card-body">
            <h3><p> Lucia <strong>Humano</strong></p></h3>
        </div>
    </div>
</div>